In [1]:
from functools import reduce
import operator
import random
import timeit
import math

In [2]:
# Write a function to generate the list of Fibonacci Numbers
def fibonacci_series(n):
  fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]], range(n-2), [0, 1]) 
  fib_list = fib(n)
  return fib_list

print(fibonacci_series(25))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368]

In [3]:
#Write a program to check if the number exists in fibonacci series. Generates a list of numbers from fibonacci series and copare with it
# Returns True if the number exists in Fibonacci Series. Else, returns False

def exists_in_fib(v_num, n):
  fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]], range(n-2), [0, 1]) 
  fib_list = fib(n)
  result = lambda a: a in list(filter((lambda x: a == x), fib_list))
  return (result(v_num))

print(exists_in_fib(200, 25))
print(exists_in_fib(610,25))

False
True

In [4]:
#Write a program to check if the number exists in fibonacci series. without generating a list
# Returns True if the number exists in Fibonacci Series. Else, returns False

def isPerfectSquare(x):
  s = int(math.sqrt(x)) 
  return s*s == x 

def isFibonacci(n):
  return isPerfectSquare(5*n*n + 4) or isPerfectSquare(5*n*n - 4)

print({i:isFibonacci(i) for i in range(0,20)})

{0: True, 1: True, 2: True, 3: True, 4: False, 5: True, 6: False, 7: False, 8: True, 9: False, 10: False, 11: False, 12: False, 13: True, 14: False, 15: False, 16: False, 17: False, 18: False, 19: False}

In [5]:
#Write a function to count number of vowels in a string
def check_num_vowels(v_text):
  vowels = ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U')
  result = ''.join([s for s in v_text if s not in vowels])
  return len(v_text) - len(result)

print(check_num_vowels("Testingagain"))

5

In [6]:
# Write a function to extract numbers from a string
def extract_num(v_text):
    result = [s for s in v_text if not s.isalpha()]
    return result

print(extract_num("12sdjkhkj23"))

['1', '2', '2', '3']

In [7]:
# Write a function to extract alphabets from a string
def extract_num(v_text):
    result = [s for s in v_text if s.isalpha()]
    return result

print(extract_num("12sdjkhkj23"))

['s', 'd', 'j', 'k', 'h', 'k', 'j']

In [8]:
# Write a function to extract charaters which are neither numbers nor alphabets
def extract_num(v_text):
    result = [s for s in v_text if not(s.isalpha() or s.isdigit())]
    return result

print(extract_num("12sdjkhkj23L;{["))

[';', '{', '[']

In [9]:
#Write a function to count number of spaces in a string
def check_num_vowels(v_text):
  result = ''.join([s for s in v_text if s == ' '])
  return len(result)

print(check_num_vowels("Tes ti ng aga in"))

4

In [10]:
#Extract either largest number in a list or largest character in a string

v_list = [2, 5, 7, 9]
result1 = reduce(lambda a, b : max(a, b), v_list)

v_text = "aksjhkjslksdlkjqwoikasjlk"
result2 = reduce(lambda a, b : max(a, b), v_text)

print("Largest Number is -- ", result1)
print("Largest Character is -- ", result2)

Largest Number is --  9
Largest Character is --  w

In [11]:
#Print a decimal number in octal number
i = 23
print('%o,' % (i))

27,

In [12]:
# Write a program to extract unique values in a list from a dictionary

def check_dict(v_dict):
  v_list = list()
  for item in v_dict.values():
    if item not in v_list:
      v_list.append(item)
  return v_list

v_dict  ={'a':47, 'b':52, 'c':47, 'd':44, 'e':52, 'f':53, 'g':54, 'h':44, 'i':54} 

check_dict(v_dict)

[47, 52, 44, 53, 54]

In [13]:
# Extract unique numbers from a list of numbers
v_list = [87, 52, 44, 53, 54, 87, 52, 53]
r_list = list(set(v_list))

print("unique list", r_list)

unique list [44, 52, 53, 54, 87]

In [14]:
# Write a function to calculate number of alphabets between 2 alphabets

def diff_alphabets(c1, c2):
  if (c1 != c2):
    return(abs(ord(c1) - ord(c2)))
  else:
    return None

diff_alphabets('c', 'f')

3

In [15]:
# Count the number of even numbers in a list
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [number for number in a if number % 2 == 0]

print(b)

[4, 16, 36, 64, 100]

In [16]:
# Count the number of odd numbers in a list
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [number for number in a if number % 2 != 0]

print(b)

[1, 9, 25, 49, 81]

In [17]:
# Write a function to check if the string is a palindrome 

def check_palindrome(v_text):
  v_rtext = v_text[::-1]
  if (v_text == v_rtext):
    return True
  else:
    return False

print(check_palindrome("kjhkjha"))
print(check_palindrome("asdfgfdsa"))

False
True

In [18]:
# Write a function to check if the number is a prime number
#Returns True for prime numbers, False otherwise

def is_prime(number):
    
    if number == 1:
        prime = False
    elif number == 2:
        prime = True
    else:
        prime = True
        for check_number in range(2, (int(number / 2)+1)):
            if number % check_number == 0:
                prime = False
                break
    return prime

print(is_prime(23))
print(is_prime(16))

True
False

In [19]:
# Write function to calculate the sum of all the numbers passed to a function

def total_Sum(*arguments): 
    v_total = 0
    for number in arguments: 
        v_total += number 
    return v_total 
  
print(total_Sum(5, 4, 2, 9, 8))

28

In [20]:
# Sort dictionary items by value in ascending order

d = {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)

Original dictionary :  {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
Dictionary in ascending order by value :  [('t', 0), ('n', 1), ('a', 2), ('d', 3), ('c', 4)]

In [21]:
# Sort dictionary items by value in descending order

d = {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
print('Original dictionary : ',d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
Dictionary in descending order by value :  {'c': 4, 'd': 3, 'a': 2, 'n': 1, 't': 0}

In [22]:
# Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30, 40]

v_dict = dict(zip(keys, values))
print(v_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [23]:
# Write a function to accept multiple dictionary items as input and return single dictionary by concatenating all of them

def concat_dict(*dict):
  dic = {}
  v_dic = (s for s in dict)
  for d in v_dic: 
    dic.update(d)
  
  return dic
  

dic1={'a':10, 'b':20}
dic2={'d':30, 'f':40}
dic3={'v':50, 'w':60}

print(concat_dict(dic1, dic2, dic3))

{'a': 10, 'b': 20, 'd': 30, 'f': 40, 'v': 50, 'w': 60}

In [24]:
# Write a function to accept a dictionary items as input and group by keys of the dictionary 
 
def group_dict_keys(v_dict):
    result = {}
    for k, v in v_dict:
         result.setdefault(k, []).append(v)
    return result

colors = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
print(group_dict_keys(colors))

{'yellow': [1, 3], 'blue': [2, 4], 'red': [1]}

In [25]:
# Write a program to rename the key for a dictionary
v_dict = {
  "name": "Atul",
  "age":43,
  "salary": 8000,
  "city": "HYD"
}

v_dict['location'] = v_dict.pop('city')
print(v_dict)

{'name': 'Atul', 'age': 43, 'salary': 8000, 'location': 'HYD'}

In [26]:
# Write a program to create list of keys and list of values from a given dictionary

v_dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}

key_lst=[s for s in v_dict.keys()]
val_lst=[s for s in v_dict.values()]

print(key_lst, val_lst)

['Sedan', 'SUV', 'Pickup', 'Minivan', 'Van', 'Semi', 'Bicycle', 'Motorcycle'] [1500, 2000, 2500, 1600, 2400, 13600, 7, 110]

In [27]:
# Concatenate the corresponding values of two different list items

list1 = ["M", "na", "i", "At"] 
list2 = ["y", "me", "s", "ul"]

list3 = [i+j for i,j in zip(list1, list2)]

print(list3)

['My', 'name', 'is', 'Atul']

In [28]:
# Remove empty strings from the list
v_list = ["Atul", "", "Rohan", "Soma", "", "Zack"]
r_list = list(filter(None, v_list))
print(r_list)

['Atul', 'Rohan', 'Soma', 'Zack']

In [29]:
# Create a nested list based on the given two or more lists

a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [2, 5, 12, 14, 21, 31, 41, 23, 34, 12]
c = [5, 74, 19, 15, 13, 78, 67, 56, 33, 24]


d = [[i,j, k] for i,j,k in zip(a,b,c)]

print(d)

[[1, 2, 5], [4, 5, 74], [9, 12, 19], [16, 14, 15], [25, 21, 13], [36, 31, 78], [49, 41, 67], [64, 23, 56], [81, 34, 33], [100, 12, 24]]

In [30]:
# Write a function to flatten a matrix of 2 dimension

def flat_mat(matrix):
    return [x for row in matrix for x in row ]

matrix = [ [1,3,4], [2,4,8], [4,7,1] ]

print(matrix)
print (str(flat_mat(matrix)))

[[1, 3, 4], [2, 4, 8], [4, 7, 1]]
[1, 3, 4, 2, 4, 8, 4, 7, 1]

In [31]:
# Write a function to calculate tax for each month's earning from a list using map

Earning = [13890, 923879, 376465, 27476, 37565]
TAX_RATE = .08
def get_price(txn):
  return txn * (1 + TAX_RATE)

def get_prices_with_map():
  return list(map(get_price, Earning))

In [32]:
# Write a function to calculate tax for each month's earning from a list using comprehension

def get_prices_with_comprehension():
  return [get_price(txn) for txn in Earning]

In [33]:
# Write a function to calculate tax for each month's earning from a list using for loop

def get_prices_with_loop():
  prices = []
  for txn in Earning:
    prices.append(get_price(txn))
  
  return prices

In [34]:
#Compare time between the three functions each doing the same thing but performing different operations

print(timeit.timeit(get_prices_with_map, number=100))
print(timeit.timeit(get_prices_with_comprehension, number=100))
print(timeit.timeit(get_prices_with_loop, number=100))

0.00026321100085624494
0.0001021999996737577
0.00011044799975934438

In [35]:
# Write a function to list the characters of string using lambda function

v_text = "Intellipat"

def lambda_char():
  v_list = list(map(lambda x: x, 'intellipaat'))
  return v_list

# Write a function to list the characters of s string using List Comprehension

def lc_char():
  v_list = [i for i in v_text]
  return v_list

# Write a function to list the characters of s string using for Loop
def forloop_char():
  v_list = []
  for i in v_text:
    v_list.append(i)
  return v_list

#Compare time between the three functions each doing the same thing but performing different operations

print(timeit.timeit(lambda_char, number=100))
print(timeit.timeit(lc_char, number=100))
print(timeit.timeit(forloop_char, number=100))

0.00012211400098749436
5.159600004844833e-05
8.154900024237577e-05

In [36]:
# Convert type of a variable which is of decimal type but stored as string to INT

v_str = "30"
v_num = int(v_str)

print(type(v_str), "   ", type(v_num))

<class 'str'>     <class 'int'>

In [37]:
# Write a function to convert the string into the list containing number(i.e. a = 1, b = 2 etc) of alphabet of the strings

def convert_str(v_text):
  v_list = [ord(s) - 96 for s in v_text]
  return v_list

print(convert_str("atul"))

[1, 20, 21, 12]

In [38]:
# Write a function to convert a decimal number to binary number

def decimalToBinary(n):
  
  if(n > 1):
    decimalToBinary(n//2)
  print(n%2, end='')

decimalToBinary(20)

10100

In [39]:
# Write a function to convert a decimal number to binary number(Using python native commands)

def decimalToBinary(n):
  return bin(n).replace("0b","")

decimalToBinary(20)

'10100'

In [40]:
# Write a function to convert a decimal number to Octal number

def decimalToOctal(n):
  v_str = ''
  if(n > 7):
    decimalToOctal(n//8)
  print(n%8, end='')

decimalToOctal(25)

31

In [41]:
# Write a function to convert a binary number to decimal number (using python native commands)

def binaryToDecimal(n): 
    return int(n,2)

binaryToDecimal('101011')

43

In [42]:
# Write a function to convert a binary number to decimal number

def binaryToDecimal(binary): 
      
    binary1 = binary 
    decimal, i, n = 0, 0, 0
    while(binary != 0): 
        dec = binary % 10
        decimal = decimal + dec * pow(2, i) 
        binary = binary//10
        i += 1
    return decimal

binaryToDecimal(101011)

43

In [43]:
# Print the value of a decimal number after converting to hexadecimal number system

dec = 244

print(hex(dec), "in hexadecimal.")

0xf4 in hexadecimal.

In [44]:
# Convert distance in meters to feet and inches

v_meter = 30.52
v_ft = v_meter // .3048
v_inches = v_meter / .3048 % 1 * 12

print(str(v_ft) + '    ' + str(v_inches))

100.0    1.5748031496062822

In [45]:
# Convert distance in Feet to meters

v_ft = 70
v_meter = v_ft * .3048

print(v_meter)

21.336000000000002

In [46]:
# Convert distance in meter to yards
meter_to_yard = 1.09361

v_meter = 100
v_yard = v_meter * meter_to_yard

print("{} meter = {} yard".format(v_meter,v_yard))

100 meter = 109.36099999999999 yard

In [47]:
# Convert distance in meter to inches

meter_to_inches = 100/2.54

v_meter = 100
v_inches = v_meter * meter_to_inches

print("{} meter = {} inches".format(v_meter,v_inches))

100 meter = 3937.0078740157483 inches

In [48]:
# Write function to convert from miles to meters and meters to miles

def getMiles(i):
  return i*0.000621371192;

def getMeters(i):
  return i*1609.344;

print(getMiles(20390))
print(getMeters(20))

12.66975860488
32186.88

In [49]:
# Write a function to calculate the GCD greatest common divisor

def greatest_common_divisor(x,y):
    r=x%y
    while r>0:
        r=x%y
        if r ==0: 
            return (y)
        else:
            q=y
            x=q
            y=r
  
print(greatest_common_divisor(32, 56))

8

In [50]:
# Write a function to compute HCF (highest common factor) for 2 numbers
# HCF and GCD are two names of the same calculation and the two methods here are used to calculate in two different ways

def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

print(compute_hcf(32, 56))

8

In [51]:
# Write a function to compute LCM (lowest common multiple) for 2 numbers
def compute_lcm(v_num1, v_num2):
  lcm = v_num1 * v_num2 / compute_hcf(v_num1, v_num2)
  return lcm

print(compute_lcm(12,18))

36.0

In [52]:
# Write a function to convert hours to minutes

def convert_to_minutes(num_hours):
    minutes = num_hours * 60
    return minutes

print(convert_to_minutes(3))

180

In [53]:
# Write a function to convert hours to seconds

def convert_to_seconds(num_hours):
    minutes = convert_to_minutes(num_hours)
    seconds = minutes * 60
    return seconds

print(convert_to_minutes(3))

180

In [54]:
# Write a function to check the validity of the three sides of a triangle

def is_triangle(a,b,c):
    if a+b>c and b+c>a and c+a>b:
        return True
    else:
        return False

print(is_triangle(3,4,5))

True

In [55]:
# Write function to reverse the number i.e. 1234 will return 4321

def reverse_num(v_num):
  rev=0
  while(v_num>0):
    dig=v_num%10
    rev=rev*10+dig
    v_num=v_num//10
  
  return rev

print(reverse_num(237678))

876732

In [56]:
# Write a command to initiate a list object with all zero values with 2 rows and 3 columns
print([[0]*3]*2)

[[0, 0, 0], [0, 0, 0]]

In [57]:
# Write a function to transpose a matrix using zip and return the transposed matrix

def transpose_matrix(v_mat):
  r_mat = list(zip(*v_mat))
  return r_mat

v_matrix = [[1, 2, 3], [4, 5, 6]]
print(transpose_matrix(v_matrix))

[(1, 4), (2, 5), (3, 6)]

In [58]:
# Write  a progrem to transpose a matrix using nested for loop and return the transposed matrix
# Constraint : Matrix shape should be known and defined

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

In [59]:
# Write lambda functions for addition, subtraction and multiplication

add = lambda x, y: x+y
subtract = lambda x, y: x - y
multiply = lambda x, y: x*y

print(add(2,3))
print(subtract(5,3))
print(multiply(4,7))

5
2
28

In [60]:
# Write a function to calculate factorial for a number

def cal_factorial(v_num):
  v_fact = 1
  if v_num < 0:
    return None
  elif v_num == 0:
    return 1
  else:
    for i in range(1, v_num + 1):
      v_fact = v_fact*i
    return v_fact

print(cal_factorial(5))

120

In [61]:
# Write a function to check if the given year a leap year.
# Return True if it is a leap year otherwise, return False

def check_leap_year(year):
  r_val = False
  if (year % 4) == 0:
    if (year % 100) == 0:
      if (year % 400) == 0:
        r_val = True
      else:
         r_val = False
    else:
       r_val = True
  else:
   r_val = False
  
  return r_val

print(check_leap_year(1900))

False

In [62]:
# Print multiplication table for a number

num = 12

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [63]:
# Write a program to check the given number is an armstrong number
# Armstrong number is a number which satisfies following condition
# abcd... = an + bn + cn + dn + ... 

def check_armstrong(v_num):
  sum = 0
  temp = v_num
  while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
  
  if v_num == sum:
    return True
  else:
    return False

print(check_armstrong(154))
print(check_armstrong(153))

False
True

In [64]:
# Write a function to compute all the factors of a given number and print those

def print_factors(x):
  for i in range(1, x + 1):
    if x % i == 0:
      print(i)

num = 320

print_factors(num)

1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [65]:
# Write a program to remove punctation from the given sentence

punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "Hello!!!, he said something but --- and went away."

no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

print(no_punct)

Hello he said something but  and went away

In [66]:
# Write a program to check if two strings are anagrams. Return True if those are anagrams otherwise return False

def is_anagram(str1, str2):  
    return sorted(str1) == sorted(str2)

print(is_anagram('geek', 'eegk')) 
print(is_anagram('geek', 'peek'))

True
False

In [67]:
# Write a program to convert a list of strings to a list of tupples by adding an index into each tupple.

a = ['The', 'School', 'of', 'AI', '!']
list(enumerate(a))

[(0, 'The'), (1, 'School'), (2, 'of'), (3, 'AI'), (4, '!')]

In [68]:
# Write a program to sort the numbers in ascending order, in descending order and using the absolute values

a = [1, 4, -4]
print(sorted(a))
print(sorted(a, reverse = True))
print(sorted(a, key = abs))
print(sorted(a, key = abs, reverse = True))

[-4, 1, 4]
[4, 1, -4]
[1, 4, -4]
[4, -4, 1]

In [69]:
# Write commands to find the index of the min or max values in an iterable i.e.list etc

a = [2, 3, 1]
print(min(enumerate(a),key=lambda x: x[1])[0])
print(max(enumerate(a),key=lambda x: x[1])[0])

2
1

In [70]:
# Write a function to convert a string into the dictionary containing one key for each character and value corresponding to frequency of the key

def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [71]:
# Write a Python function that takes a list of words and returns the length of the longest one.

def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    return word_len[-1][0], word_len[-1][1]
result = find_longest_word(["PHP", "Exercises", "Backend"])
print(result)

(9, 'Exercises')

In [72]:
# Write a command (one line) that prints the length of the longest string from a list of strings.

v_str = ["PHP", "Exercises", "Backend"]

print(max({s:len(s) for s in v_str}.values()))

9

In [73]:
# Write a Python program to display a number in left, right and center aligned of width 10

x = 22
print("\nOriginal Number: ", x)
print("Left aligned (width 10)   :"+"{:< 10d}".format(x));
print("Right aligned (width 10)  :"+"{:10d}".format(x));
print("Center aligned (width 10) :"+"{:^10d}".format(x));
print()

Original Number:  22
Left aligned (width 10)   : 22
Right aligned (width 10)  :        22
Center aligned (width 10) :    22

In [74]:
# Write a Python program to find maximum length of consecutive 0’s in a given binary string.

def max_consecutive_0(v_str): 
     return  max(map(len,v_str.split('1')))

str1 = '1110000010000110'
print(max_consecutive_0(str1))

5

In [75]:
# Write commands to remove all of the occurances of a given character from a String using replace, list comprehension and map

v_str = "I want to delete all the occurances of a from this string"

print(v_str.replace('a', ''))
print(''.join([s for s in v_str if s != 'a' ])) 
print(''.join(list(map(lambda x: x if x!= 'a' else '', v_str))))

I wnt to delete ll the occurnces of  from this string
I wnt to delete ll the occurnces of  from this string
I wnt to delete ll the occurnces of  from this string

In [76]:
# Write a program to count all alphabets(lower and upper), digits, and special symbols from a given string
# return all three counts showing python functions can return multiple values

def find_different_counts(v_str): 
  charCount = 0
  digitCount = 0
  symbolCount = 0
  for char in v_str:
    if char.islower() or char.isupper():
      charCount+=1
    elif char.isnumeric():
      digitCount+=1
    else:
      symbolCount+=1
  
  return charCount, digitCount, symbolCount

print(find_different_counts("P@#yn26at^&i5ve"))

(8, 3, 4)

In [77]:
# Write a function to convert a number from integer to roman number (limited unto 4000 number)
def int_to_roman(num):
  val = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
  syb = ["M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"]
  roman_num = ''
  i = 0
  while  num > 0:
    for _ in range(num // val[i]):
      roman_num += syb[i]
      num -= val[i]
    i += 1
  return roman_num


print(int_to_roman(3783))

MMMDCCLXXXIII

In [78]:
# Write a function to check if a list of integers is monotonic. i.e the list is in either increasing order or in decreasing order 

def check_monotonic(A): 
  
    return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1))) 

v_list = [23, 15, 6, 4, 4, 3]

print(check_monotonic(v_list))

True

In [79]:
# Write a function to check if a given string is Pangram or not. Write the program using a for loop 
# A pangram is a sentence containing every letter in the English Alphabet.

def check_pangram(v_str): 
  alphabet = "abcdefghijklmnopqrstuvwxyz"
  for char in alphabet:
    if char not in v_str.lower():
      return False
  return True

v_string = 'the quick brown fox jumps over the lazy dog'
print(check_pangram(v_string))

True

In [80]:
# Write a function to check if a given string is Pangram or not. Write the program using a lambda function in a single line

alphabet = "abcdefghijklmnopqrstuvwxyz"

v_string = 'the quick brown fox jumps over the lazy dog' 

print(all(list(map(lambda a: True if a in v_string else False, alphabet))))

v_string = 'the quick brown fox jumps over the lazy'

print(all(list(map(lambda a: True if a in v_string else False, alphabet))))

True
False

In [81]:
# Write a function to calculate scrabble score of a word

dic = {'a': 1, 'b': 3, 'c': 3, 'd': 2, 'e': 1, 'f': 4, 'g': 2, 'h': 4, 'i': 1, 'j': 8, 'k': 5, 'l': 1, 'm': 3, 'n': 1,
       'o': 1, 'p': 3, 'q': 10, 'r': 1, 's': 1, 't': 1, 'u': 1, 'v': 4, 'w': 4, 'x': 8, 'y': 4, 'z': 10}


def scrabble_score(word):
    scrabble = 0
    for x in word.lower():
        scrabble = scrabble + dic[x]
    return scrabble

print(scrabble_score('Atul'))

4

In [82]:
# Write a function which takes a number in string format and length shorter than the length of earlier given input and 
# output all the contiguous substrings of length n in that string in the order that they appear.

def ret_slices(v_num, slice_length):
    if slice_length <= 0:
        raise ValueError("Slice length must be positive")
    if slice_length > len(v_num):
        raise ValueError("Slice length must be smaller than the string length")
    return [v_num[i:i + slice_length] for i in range(len(v_num) - slice_length + 1)]

print(ret_slices("49142", 3))

['491', '914', '142']

In [83]:
# Write a function which can take a number between 0 and 99 as number and return the spelling of the number in english

def spell_0_99(number):
    nums_le20 = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine",
                 "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen", ]
    tens = ["twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]

    if number < 20:
        return nums_le20[number]
    elif number % 10 == 0:
        return tens[number // 10 - 2]
    else:
        return spell_0_99(number // 10 * 10) + "-" + spell_0_99(number % 10)

spell_0_99(91)

'ninety-one'

In [84]:
# Write a function which takes a number (in string format) as input and another number which is less than the length of the number.
# Function returns the maximum product for any number by taking continuous digits for the given length.

def prod(lis):
    i = 1
    for n in lis:
        i *= n
    return i
    
def largest_product(series, size):
    return max([prod(list(map(int, series))[k:k+size]) for k in range(len(series) - size + 1)])

print(largest_product('37465', 3))

168

In [85]:
# Write a function to find the saddle point in a matrix
# A saddle point is an element which is greaterh thean or equal to every element in its row, 
# it must be also less than or equal to every element in its column.

def saddle_points(matrix):
    
    results = set()
    for index, row in enumerate(matrix):
        candidates = [(i, x) for i, x in enumerate(row) if x == max(row)]
        for i, candidate in candidates:
            column = [row[i] for row in matrix]
            if candidate == min(column):
                results |= {(index, i)}
    return results

v_mat = [[9,8,7], [5,3,2], [6,6,7]]

print(saddle_points(v_mat))

{(1, 0)}

In [86]:
# Write a program to check if a given number is perfect, abundant or deficient. This is based on the aliquot sum.
# A number is perfect if the sum of factors of the number (excluding itself) equals to the number.

def check_number (number):
    
    aliquot = sum([i for i in range(1, number) if number % i == 0])

    if aliquot == number:
        return "perfect"
    elif aliquot > number:
        return "abundant"
    else:
        return "deficient"

print(check_number(56))

abundant

In [87]:
# Write a program to check if the triangle is an equilateral, isosceles or not.
# Takes input as a list of 3 numbers representing the 3 sides of a triangle

def check_triangle(sides):
  
  if sides[0]+sides[1]<=sides[2] or sides[1]+sides[2]<=sides[0] or sides[0]+sides[2]<=sides[1]:
    return "Not a triangle" 
  elif sides[0] == sides[1] == sides[2] and sides[0]>0:
    return "Equilateral"
  elif sides[0] == sides[1] or sides[1] == sides[2] or sides[0] == sides[2]:
    return "Isosceles"
  else:
    return "Neither Equilateral nor Isosceles"

print(check_triangle([3,3,5]))

Isosceles

In [88]:
# Write a program to make a list (from the already given list) whose elements are square of even number using map and filter

a = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = map(lambda x: x**2, filter(lambda x: x%2==0, a))
print(list(evenNumbers))

[4, 16, 36, 64, 100]

In [89]:
# Write a function to return N maximum numbers from a list of numbers.
# Function takes 2 inputs one list and one number and returns a list

def get_max(v_list, N): 
  final_list = []
  
  for i in range(0, N):
    max1 = 0
    for j in range(len(v_list)):
      if v_list[j] > max1:
        max1 = v_list[j];
    
    v_list.remove(max1); 
    final_list.append(max1) 
          
  return final_list

get_max([2,4,6,8,9,0,34, 8278, 773, 376, 47], 2)

[8278, 773]

In [90]:
# Write commands to find the intersection and unions of sets

set1 = set(["green", "blue"])
set2 = set(["blue", "yellow"])

print("Intersection of the set1 and set2 is :", set1 & set2)

print("Union of the set1 and set2 is :", set1 | set2)

Intersection of the set1 and set2 is : {'blue'}
Union of the set1 and set2 is : {'green', 'blue', 'yellow'}

In [91]:
# Write commands to find the difference and symmetric difference of sets

set1 = set(["green", "blue"])
set2 = set(["blue", "yellow"])

print("Difference of the set1 and set2 is :", set1 - set2)
print("Difference of the set2 and set1 is :", set2 - set1)
print("Symmetric difference of the set1 and set2 is :", set1^set2)

Difference of the set1 and set2 is : {'green'}
Difference of the set2 and set1 is : {'yellow'}
Symmetric difference of the set1 and set2 is : {'yellow', 'green'}

In [92]:
# Write a lambda function to implement intersection for two lists of integers
v_list1 = [1, 2, 3, 5, 7, 8, 9, 10]
v_list2 = [1, 2, 4, 8, 9]
intersection = list(filter(lambda x: x in v_list1, v_list2)) 
print (intersection)

[1, 2, 8, 9]

In [93]:
# Write a lambda function to implement intersection for two lists of integers
v_list1 = [1, 2, 3, 5, 7, 8, 9, 10]
v_list2 = [1, 2, 4, 8, 9]
print("Difference of the List1 and List2 is", list(filter(lambda x: x not in v_list2, v_list1)) )
print("Difference of the List2 and List1 is", list(filter(lambda x: x not in v_list1, v_list2)) )

Difference of the List1 and List2 is [3, 5, 7, 10]
Difference of the List2 and List1 is [4]

In [94]:
# Write a program to print alphabet A using astrics and loops
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [95]:
# Write a program to print alphabet B using astricks and loops
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if ((column == 1) or ((column == 5) and row!= 0 and row!=3 and row!=6) or ((row == 0 or row == 3 or row == 6) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 ****
 *   *
 *   *
 ****
 *   *
 *   *
 ****

In [96]:
# Write a program to print alphabet S using character 'o' and loops

row=15    
col=18   
result_str=""    
for i in range(1,row+1):    
    if((i<=3)or(i>=7 and i<=9)or(i>=13 and i<=15)):    
        for j in range(1,col):    
            result_str=result_str+"o"    
        result_str=result_str+"\n"    
    elif(i>=4 and i<=6):    
        for j in range(1,5):    
            result_str=result_str+"o"    
        result_str=result_str+"\n"    
    else:    
        for j in range(1,14):    
            result_str=result_str+" "    
        for j in range(1,5):    
            result_str=result_str+"o"    
        result_str=result_str+"\n"    
print(result_str);

ooooooooooooooooo
ooooooooooooooooo
ooooooooooooooooo
oooo
oooo
oooo
ooooooooooooooooo
ooooooooooooooooo
ooooooooooooooooo
             oooo
             oooo
             oooo
ooooooooooooooooo
ooooooooooooooooo
ooooooooooooooooo

In [97]:
# Write a Python program to convert month name to a number of days.

def days_of_month(v_text):
  if v_text == "February":
    print("No. of days: 28/29 days")
  elif v_text in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
  elif v_text in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 day")

days_of_month('April')

No. of days: 30 days

In [98]:
# Write a function to find Median from a list of number

def find_median(sample):
  n = len(sample)
  index = n // 2
  if n % 2:
    return sorted(sample)[index]
  
  return sum(sorted(sample)[index - 1:index + 1]) / 2

print(find_median([3, 5, 1, 4, 2]))

print(find_median([3, 5, 1, 4, 2, 6]))

3
3.5

In [99]:
# Write a function to calculate Mean from a list of number

def calc_mean(sample):
  return sum(sample) / len(sample)

calc_mean([4, 8, 6, 5, 3, 2, 8, 9, 2, 5])

5.2

In [100]:
# Write a program to find mode from a list of numbers

lst = [4, 8, 6, 5, 3, 2, 8, 9, 2, 5]
v_mode = max(set(lst), key=lst.count)

print(v_mode)

2

In [101]:
# Write a Python function to print out the first n rows of Pascal's triangle.

def pascal_triangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
      
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]