In [1]:
from functools import reduce
import operator

In [2]:
# Write a function to generate the list of Fibonacci Numbers
def fibonacci_series(n):
  fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]], range(n-2), [0, 1]) 
  fib_list = fib(n)
  return fib_list

print(fibonacci_series(25))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368]

In [3]:
#Write a program to check if the number exists in fibinacci series. 
# Returns True if the number exists in Fibonacci Series. Else, returns False

def exists_in_fib(v_num, n):
  fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]], range(n-2), [0, 1]) 
  fib_list = fib(n)
  result = lambda a: a in list(filter((lambda x: a == x), fib_list))
  return (result(v_num))

print(exists_in_fib(200, 25))
print(exists_in_fib(610,25))

False
True

In [4]:
#Write a function to count number of vowels in a string
def check_num_vowels(v_text):
  vowels = ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U')
  result = ''.join([s for s in v_text if s not in vowels])
  return len(v_text) - len(result)

print(check_num_vowels("Testingagain"))

5

In [5]:
# Write a function to extract numbers from a string
def extract_num(v_text):
    result = [s for s in v_text if not s.isalpha()]
    return result

print(extract_num("12sdjkhkj23"))

['1', '2', '2', '3']

In [6]:
# Write a function to extract numbers from a string
def extract_num(v_text):
    result = [s for s in v_text if not s.isalpha()]
    return result

print(extract_num("12sdjkhkj23"))

['1', '2', '2', '3']

In [7]:
# Write a function to extract charaters which are neither numbers nor alphabets
def extract_num(v_text):
    result = [s for s in v_text if not(s.isalpha() or s.isdigit())]
    return result

print(extract_num("12sdjkhkj23L;{["))

[';', '{', '[']

In [8]:
#Write a function to count number of spaces in a string
def check_num_vowels(v_text):
  result = ''.join([s for s in v_text if s == ' '])
  return len(result)

print(check_num_vowels("Tes ti ng aga in"))

4

In [9]:
#Extract either largest number in a list or largest character in a string

v_list = [2, 5, 7, 9]
result1 = reduce(lambda a, b : max(a, b), v_list)

v_text = "aksjhkjslksdlkjqwoikasjlk"
result2 = reduce(lambda a, b : max(a, b), v_text)

print("Largest Number is -- ", result1)
print("Largest Character is -- ", result2)

Largest Number is --  9
Largest Character is --  w

In [10]:
#Print a decimal number in octal number
i = 23
print('%o,' % (i))

27,

In [11]:
# Write a program to extract unique values in a list from a dictionary

def check_dict(v_dict):
  v_list = list()
  for item in v_dict.values():
    if item not in v_list:
      v_list.append(item)
  return v_list

v_dict  ={'a':47, 'b':52, 'c':47, 'd':44, 'e':52, 'f':53, 'g':54, 'h':44, 'i':54} 

check_dict(v_dict)

[47, 52, 44, 53, 54]

In [12]:
# Extract unique numbers from a list of numbers
v_list = [87, 52, 44, 53, 54, 87, 52, 53]
r_list = list(set(v_list))

print("unique list", r_list)

unique list [44, 52, 53, 54, 87]

In [13]:
# Write a function to calculate number of alphabets between 2 alphabets

def diff_alphabets(c1, c2):
  if (c1 != c2):
    return(abs(ord(c1) - ord(c2)))
  else:
    return None

diff_alphabets('c', 'f')

3

In [14]:
# Count the number of even numbers in a list
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [number for number in a if number % 2 == 0]

print(b)

[4, 16, 36, 64, 100]

In [15]:
# Count the number of odd numbers in a list
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [number for number in a if number % 2 != 0]

print(b)

[1, 9, 25, 49, 81]

In [16]:
# Write a function to check if the string is a palindrome 

def check_palindrome(v_text):
  v_rtext = v_text[::-1]
  if (v_text == v_rtext):
    return True
  else:
    return False

print(check_palindrome("kjhkjha"))
print(check_palindrome("asdfgfdsa"))

False
True

In [17]:
# Write a function to check if the number is a prime number
#Returns True for prime numbers, False otherwise

def is_prime(number):
    
    if number == 1:
        prime = False
    elif number == 2:
        prime = True
    else:
        prime = True
        for check_number in range(2, (int(number / 2)+1)):
            if number % check_number == 0:
                prime = False
                break
    return prime

print(is_prime(23))
print(is_prime(16))

True
False

In [18]:
# Write function to calculate the sum of all the numbers passed to a function

def total_Sum(*arguments): 
    v_total = 0
    for number in arguments: 
        v_total += number 
    return v_total 
  
print(total_Sum(5, 4, 2, 9, 8))

28

In [19]:
# Sort dictionary items by value in ascending order

d = {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)

Original dictionary :  {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
Dictionary in ascending order by value :  [('t', 0), ('n', 1), ('a', 2), ('d', 3), ('c', 4)]

In [20]:
# Sort dictionary items by value in descending order

d = {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
print('Original dictionary : ',d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
Dictionary in descending order by value :  {'c': 4, 'd': 3, 'a': 2, 'n': 1, 't': 0}

In [21]:
# Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30, 40]

v_dict = dict(zip(keys, values))
print(v_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [22]:
# Write a function to accept multiple dictionary items as input and return single dictionary by concatenating all of them

def concat_dict(*dict):
  dic = {}
  v_dic = (s for s in dict)
  for d in v_dic: 
    dic.update(d)
  
  return dic
  

dic1={'a':10, 'b':20}
dic2={'d':30, 'f':40}
dic3={'v':50, 'w':60}

print(concat_dict(dic1, dic2, dic3))

{'a': 10, 'b': 20, 'd': 30, 'f': 40, 'v': 50, 'w': 60}

In [23]:
# Write a function to accept a dictionary items as input and group by keys of the dictionary 
 
def group_dict_keys(v_dict):
    result = {}
    for k, v in v_dict:
         result.setdefault(k, []).append(v)
    return result

colors = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
print(group_dict_keys(colors))

{'yellow': [1, 3], 'blue': [2, 4], 'red': [1]}

In [24]:
# Rename the key for a dictionary
v_dict = {
  "name": "Atul",
  "age":43,
  "salary": 8000,
  "city": "HYD"
}

v_dict['location'] = v_dict.pop('city')
print(v_dict)

{'name': 'Atul', 'age': 43, 'salary': 8000, 'location': 'HYD'}