In [1]:
from functools import reduce
import operator
import random
import timeit
import math

In [2]:
# Write a function to generate the list of Fibonacci Numbers
def fibonacci_series(n):
  fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]], range(n-2), [0, 1]) 
  fib_list = fib(n)
  return fib_list

print(fibonacci_series(25))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368]

In [3]:
#Write a program to check if the number exists in fibonacci series. Generates a list of numbers from fibonacci series and copare with it
# Returns True if the number exists in Fibonacci Series. Else, returns False

def exists_in_fib(v_num, n):
  fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]], range(n-2), [0, 1]) 
  fib_list = fib(n)
  result = lambda a: a in list(filter((lambda x: a == x), fib_list))
  return (result(v_num))

print(exists_in_fib(200, 25))
print(exists_in_fib(610,25))

False
True

In [4]:
#Write a program to check if the number exists in fibonacci series. without generating a list
# Returns True if the number exists in Fibonacci Series. Else, returns False

def isPerfectSquare(x):
  s = int(math.sqrt(x)) 
  return s*s == x 

def isFibonacci(n):
  return isPerfectSquare(5*n*n + 4) or isPerfectSquare(5*n*n - 4)

print({i:isFibonacci(i) for i in range(0,20)})

{0: True, 1: True, 2: True, 3: True, 4: False, 5: True, 6: False, 7: False, 8: True, 9: False, 10: False, 11: False, 12: False, 13: True, 14: False, 15: False, 16: False, 17: False, 18: False, 19: False}

In [5]:
#Write a function to count number of vowels in a string
def check_num_vowels(v_text):
  vowels = ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U')
  result = ''.join([s for s in v_text if s not in vowels])
  return len(v_text) - len(result)

print(check_num_vowels("Testingagain"))

5

In [6]:
# Write a function to extract numbers from a string
def extract_num(v_text):
    result = [s for s in v_text if not s.isalpha()]
    return result

print(extract_num("12sdjkhkj23"))

['1', '2', '2', '3']

In [7]:
# Write a function to extract numbers from a string
def extract_num(v_text):
    result = [s for s in v_text if not s.isalpha()]
    return result

print(extract_num("12sdjkhkj23"))

['1', '2', '2', '3']

In [8]:
# Write a function to extract charaters which are neither numbers nor alphabets
def extract_num(v_text):
    result = [s for s in v_text if not(s.isalpha() or s.isdigit())]
    return result

print(extract_num("12sdjkhkj23L;{["))

[';', '{', '[']

In [9]:
#Write a function to count number of spaces in a string
def check_num_vowels(v_text):
  result = ''.join([s for s in v_text if s == ' '])
  return len(result)

print(check_num_vowels("Tes ti ng aga in"))

4

In [10]:
#Extract either largest number in a list or largest character in a string

v_list = [2, 5, 7, 9]
result1 = reduce(lambda a, b : max(a, b), v_list)

v_text = "aksjhkjslksdlkjqwoikasjlk"
result2 = reduce(lambda a, b : max(a, b), v_text)

print("Largest Number is -- ", result1)
print("Largest Character is -- ", result2)

Largest Number is --  9
Largest Character is --  w

In [11]:
#Print a decimal number in octal number
i = 23
print('%o,' % (i))

27,

In [12]:
# Write a program to extract unique values in a list from a dictionary

def check_dict(v_dict):
  v_list = list()
  for item in v_dict.values():
    if item not in v_list:
      v_list.append(item)
  return v_list

v_dict  ={'a':47, 'b':52, 'c':47, 'd':44, 'e':52, 'f':53, 'g':54, 'h':44, 'i':54} 

check_dict(v_dict)

[47, 52, 44, 53, 54]

In [13]:
# Extract unique numbers from a list of numbers
v_list = [87, 52, 44, 53, 54, 87, 52, 53]
r_list = list(set(v_list))

print("unique list", r_list)

unique list [44, 52, 53, 54, 87]

In [14]:
# Write a function to calculate number of alphabets between 2 alphabets

def diff_alphabets(c1, c2):
  if (c1 != c2):
    return(abs(ord(c1) - ord(c2)))
  else:
    return None

diff_alphabets('c', 'f')

3

In [15]:
# Count the number of even numbers in a list
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [number for number in a if number % 2 == 0]

print(b)

[4, 16, 36, 64, 100]

In [16]:
# Count the number of odd numbers in a list
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [number for number in a if number % 2 != 0]

print(b)

[1, 9, 25, 49, 81]

In [17]:
# Write a function to check if the string is a palindrome 

def check_palindrome(v_text):
  v_rtext = v_text[::-1]
  if (v_text == v_rtext):
    return True
  else:
    return False

print(check_palindrome("kjhkjha"))
print(check_palindrome("asdfgfdsa"))

False
True

In [18]:
# Write a function to check if the number is a prime number
#Returns True for prime numbers, False otherwise

def is_prime(number):
    
    if number == 1:
        prime = False
    elif number == 2:
        prime = True
    else:
        prime = True
        for check_number in range(2, (int(number / 2)+1)):
            if number % check_number == 0:
                prime = False
                break
    return prime

print(is_prime(23))
print(is_prime(16))

True
False

In [19]:
# Write function to calculate the sum of all the numbers passed to a function

def total_Sum(*arguments): 
    v_total = 0
    for number in arguments: 
        v_total += number 
    return v_total 
  
print(total_Sum(5, 4, 2, 9, 8))

28

In [20]:
# Sort dictionary items by value in ascending order

d = {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)

Original dictionary :  {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
Dictionary in ascending order by value :  [('t', 0), ('n', 1), ('a', 2), ('d', 3), ('c', 4)]

In [21]:
# Sort dictionary items by value in descending order

d = {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
print('Original dictionary : ',d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {'a': 2, 'c': 4, 'd': 3, 'n': 1, 't': 0}
Dictionary in descending order by value :  {'c': 4, 'd': 3, 'a': 2, 'n': 1, 't': 0}

In [22]:
# Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30, 40]

v_dict = dict(zip(keys, values))
print(v_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [23]:
# Write a function to accept multiple dictionary items as input and return single dictionary by concatenating all of them

def concat_dict(*dict):
  dic = {}
  v_dic = (s for s in dict)
  for d in v_dic: 
    dic.update(d)
  
  return dic
  

dic1={'a':10, 'b':20}
dic2={'d':30, 'f':40}
dic3={'v':50, 'w':60}

print(concat_dict(dic1, dic2, dic3))

{'a': 10, 'b': 20, 'd': 30, 'f': 40, 'v': 50, 'w': 60}

In [24]:
# Write a function to accept a dictionary items as input and group by keys of the dictionary 
 
def group_dict_keys(v_dict):
    result = {}
    for k, v in v_dict:
         result.setdefault(k, []).append(v)
    return result

colors = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
print(group_dict_keys(colors))

{'yellow': [1, 3], 'blue': [2, 4], 'red': [1]}

In [25]:
# Rename the key for a dictionary
v_dict = {
  "name": "Atul",
  "age":43,
  "salary": 8000,
  "city": "HYD"
}

v_dict['location'] = v_dict.pop('city')
print(v_dict)

{'name': 'Atul', 'age': 43, 'salary': 8000, 'location': 'HYD'}

In [26]:
# Construct list of keys and list of values from a given dictionary

v_dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}

key_lst=[s for s in v_dict.keys()]
val_lst=[s for s in v_dict.values()]

print(key_lst, val_lst)

['Sedan', 'SUV', 'Pickup', 'Minivan', 'Van', 'Semi', 'Bicycle', 'Motorcycle'] [1500, 2000, 2500, 1600, 2400, 13600, 7, 110]

In [27]:
# Concatenate the corresponding values of two different list items

list1 = ["M", "na", "i", "At"] 
list2 = ["y", "me", "s", "ul"]

list3 = [i+j for i,j in zip(list1, list2)]

print(list3)

['My', 'name', 'is', 'Atul']

In [28]:
# Remove empty strings from the list
v_list = ["Atul", "", "Rohan", "Soma", "", "Zack"]
r_list = list(filter(None, v_list))
print(r_list)

['Atul', 'Rohan', 'Soma', 'Zack']

In [29]:
# Create a nested list based on the given two or more lists

a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [2, 5, 12, 14, 21, 31, 41, 23, 34, 12]
c = [5, 74, 19, 15, 13, 78, 67, 56, 33, 24]


d = [[i,j, k] for i,j,k in zip(a,b,c)]

print(d)

[[1, 2, 5], [4, 5, 74], [9, 12, 19], [16, 14, 15], [25, 21, 13], [36, 31, 78], [49, 41, 67], [64, 23, 56], [81, 34, 33], [100, 12, 24]]

In [30]:
# Write a function to flatten a matrix of 2 dimension

def flat_mat(matrix):
    return [x for row in matrix for x in row ]

matrix = [ range(0,5), range(5,10), range(10,15) ]
matrix = [ [1,3,4], [2,4,8], [4,7,1] ]

print(matrix)
print (str(flat_mat(matrix)))

[[1, 3, 4], [2, 4, 8], [4, 7, 1]]
[1, 3, 4, 2, 4, 8, 4, 7, 1]

In [31]:
# Write a function to calculate tax for each month's earning from a list

Earning = [13890, 923879, 376465, 27476, 37565]
TAX_RATE = .08
def get_price_with_tax(txn):
  return txn * (1 + TAX_RATE)

final_prices = map(get_price_with_tax, Earning)
list(final_prices)

[15001.2, 997789.3200000001, 406582.2, 29674.08, 40570.200000000004]

In [32]:
# Write a function to calculate tax for each month's earning from a list using map

Earning = [13890, 923879, 376465, 27476, 37565]
TAX_RATE = .08
def get_price(txn):
  return txn * (1 + TAX_RATE)

def get_prices_with_map():
  return list(map(get_price, Earning))

In [33]:
# Write a function to calculate tax for each month's earning from a list using comprehension

def get_prices_with_comprehension():
  return [get_price(txn) for txn in Earning]

In [34]:
# Write a function to calculate tax for each month's earning from a list using for loop

def get_prices_with_loop():
  prices = []
  for txn in Earning:
    prices.append(get_price(txn))
  
  return prices

In [35]:
#Compare time between the three functions each doing the same thing but performing different operations

print(timeit.timeit(get_prices_with_map, number=100))
print(timeit.timeit(get_prices_with_comprehension, number=100))
print(timeit.timeit(get_prices_with_loop, number=100))

0.0001987999985431088
0.0004891200005658902
0.0002033420005318476

In [36]:
# Write a function to list the characters of string using lambda function

v_text = "Intellipat"

def lambda_char():
  v_list = list(map(lambda x: x, 'intellipaat'))
  return v_list

# Write a function to list the characters of s string using List Comprehension

def lc_char():
  v_list = [i for i in v_text]
  return v_list

# Write a function to list the characters of s string using for Loop
def forloop_char():
  v_list = []
  for i in v_text:
    v_list.append(i)
  return v_list

#Compare time between the three functions each doing the same thing but performing different operations

print(timeit.timeit(lambda_char, number=100))
print(timeit.timeit(lc_char, number=100))
print(timeit.timeit(forloop_char, number=100))

0.0002326500016351929
0.00010131199996976648
0.0001262539990420919

In [37]:
# Convert type of a variable which is of decimal type but stored as string to INT

v_str = "30"
v_num = int(v_str)

print(type(v_str), "   ", type(v_num))

<class 'str'>     <class 'int'>

In [38]:
# Write a function to convert the string into the list containing number(i.e. a = 1, b = 2 etc) of alphabet of the strings

def convert_str(v_text):
  v_list = [ord(s) - 96 for s in v_text]
  return v_list

print(convert_str("atul"))

[1, 20, 21, 12]

In [39]:
# Write a function to convert a decimal number to binary number

def decimalToBinary(n):
  
  if(n > 1):
    decimalToBinary(n//2)
  print(n%2, end='')

decimalToBinary(20)

10100

In [40]:
# Write a function to convert a decimal number to binary number(Using python native commands)

def decimalToBinary(n):
  return bin(n).replace("0b","")

decimalToBinary(20)

'10100'

In [41]:
# Write a function to convert a decimal number to Octal number

def decimalToOctal(n):
  v_str = ''
  if(n > 7):
    decimalToOctal(n//8)
  print(n%8, end='')

decimalToOctal(25)

31

In [42]:
# Write a function to convert a binary number to decimal number (using python native commands)

def binaryToDecimal(n): 
    return int(n,2)

binaryToDecimal('101011')

43

In [43]:
# Write a function to convert a binary number to decimal number

def binaryToDecimal(binary): 
      
    binary1 = binary 
    decimal, i, n = 0, 0, 0
    while(binary != 0): 
        dec = binary % 10
        decimal = decimal + dec * pow(2, i) 
        binary = binary//10
        i += 1
    return decimal

binaryToDecimal(101011)

43

In [44]:
# Print the value of a decimal number after converting to hexadecimal number system

dec = 244

print(hex(dec), "in hexadecimal.")

0xf4 in hexadecimal.

In [45]:
# Convert distance in meters to feet and inches

v_meter = 30.52
v_ft = v_meter // .3048
v_inches = v_meter / .3048 % 1 * 12

print(str(v_ft) + '    ' + str(v_inches))

100.0    1.5748031496062822

In [46]:
# Convert distance in Feet to meters

v_ft = 70
v_meter = v_ft * .3048

print(v_meter)

21.336000000000002

In [47]:
# Convert distance in meter to yards
meter_to_yard = 1.09361

v_meter = 100
v_yard = v_meter * meter_to_yard

print("{} meter = {} yard".format(v_meter,v_yard))

100 meter = 109.36099999999999 yard

In [48]:
# Convert distance in meter to inches

meter_to_inches = 100/2.54

v_meter = 100
v_inches = v_meter * meter_to_inches

print("{} meter = {} inches".format(v_meter,v_inches))

100 meter = 3937.0078740157483 inches

In [49]:
# Write function to convert from miles to meters and meters to miles

def getMiles(i):
  return i*0.000621371192;

def getMeters(i):
  return i*1609.344;

print(getMiles(20390))
print(getMeters(20))

12.66975860488
32186.88

In [50]:
# Write a function to calculate the GCD greatest common divisor

def greatest_common_divisor(x,y):
    r=x%y
    while r>0:
        r=x%y
        if r ==0: 
            return (y)
        else:
            q=y
            x=q
            y=r
  
print(greatest_common_divisor(32, 56))

8

In [51]:
# Write a function to compute HCF (highest common factor) for 2 numbers
# HCF and GCD are two names of the same calculation and the two methods here are used to calculate in two different ways

def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

print(compute_hcf(32, 56))

8

In [52]:
# Write a function to compute LCM (lowest common multiple) for 2 numbers
def compute_lcm(v_num1, v_num2):
  lcm = v_num1 * v_num2 / compute_hcf(v_num1, v_num2)
  return lcm

print(compute_lcm(12,18))

36.0

In [53]:
# Write a function to convert hours to minutes

def convert_to_minutes(num_hours):
    minutes = num_hours * 60
    return minutes

print(convert_to_minutes(3))

180

In [54]:
# Write a function to convert hours to seconds

def convert_to_seconds(num_hours):
    minutes = convert_to_minutes(num_hours)
    seconds = minutes * 60
    return seconds

print(convert_to_minutes(3))

180

In [55]:
# Write a function to check the validity of the three sides of a triangle

def is_triangle(a,b,c):
    if a+b>c and b+c>a and c+a>b:
        return True
    else:
        return False

print(is_triangle(3,4,5))

True

In [56]:
# Write function to reverse the number i.e. 1234 will return 4321

def reverse_num(v_num):
  rev=0
  while(v_num>0):
    dig=v_num%10
    rev=rev*10+dig
    v_num=v_num//10
  
  return rev

print(reverse_num(237678))

876732

In [57]:
# Write a command to initiate a list object with all zero values with 2 rows and 3 columns
print([[0]*3]*2)

[[0, 0, 0], [0, 0, 0]]

In [58]:
# Write a function to transpose a matrix using zip and return the transposed matrix

def transpose_matrix(v_mat):
  r_mat = list(zip(*v_mat))
  return r_mat

v_matrix = [[1, 2, 3], [4, 5, 6]]
print(transpose_matrix(v_matrix))

[(1, 4), (2, 5), (3, 6)]

In [59]:
# Write  a progrem to transpose a matrix using nested for loop and return the transposed matrix
# Constraint : Matrix shape should be known and defined

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

In [60]:
# Write lambda functions for addition, subtraction and multiplication

add = lambda x, y: x+y
subtract = lambda x, y: x - y
multiply = lambda x, y: x*y

print(add(2,3))
print(subtract(5,3))
print(multiply(4,7))

5
2
28

In [61]:
# Write a function to calculate factorial for a number

def cal_factorial(v_num):
  v_fact = 1
  if v_num < 0:
    return None
  elif v_num == 0:
    return 1
  else:
    for i in range(1, v_num + 1):
      v_fact = v_fact*i
    return v_fact

print(cal_factorial(5))

120

In [62]:
# Write a function to check if the given year a leap year.
# Return True if it is a leap year otherwise, return False

def check_leap_year(year):
  r_val = False
  if (year % 4) == 0:
    if (year % 100) == 0:
      if (year % 400) == 0:
        r_val = True
      else:
         r_val = False
    else:
       r_val = True
  else:
   r_val = False
  
  return r_val

print(check_leap_year(1900))

False

In [63]:
# Print multiplication table for a number

num = 12

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [64]:
# Write a program to check the given number is an armstrong number
# Armstrong number is a number which satisfies following condition
# abcd... = an + bn + cn + dn + ... 

def check_armstrong(v_num):
  sum = 0
  temp = v_num
  while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
  
  if v_num == sum:
    return True
  else:
    return False

print(check_armstrong(154))
print(check_armstrong(153))

False
True

In [65]:
# Write a function to compute all the factors of a given number and print those

def print_factors(x):
  for i in range(1, x + 1):
    if x % i == 0:
      print(i)

num = 320

print_factors(num)

1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [66]:
# Write a program to remove punctation from the given sentence

punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "Hello!!!, he said something but --- and went away."

no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

print(no_punct)

Hello he said something but  and went away

In [67]:
# Write a program to check if two strings are anagrams. Return True if those are anagrams otherwise return False

def is_anagram(str1, str2):  
    return sorted(str1) == sorted(str2)

print(is_anagram('geek', 'eegk')) 
print(is_anagram('geek', 'peek'))

True
False

In [68]:
# Write a program to convert a list of strings to a list of tupples by adding an index into each tupple.

a = ['The', 'School', 'of', 'AI', '!']
list(enumerate(a))

[(0, 'The'), (1, 'School'), (2, 'of'), (3, 'AI'), (4, '!')]

In [69]:
# Write a program to sort the numbers in ascending order, in descending order and using the absolute values

a = [1, 4, -4]
print(sorted(a))
print(sorted(a, reverse = True))
print(sorted(a, key = abs))
print(sorted(a, key = abs, reverse = True))

[-4, 1, 4]
[4, 1, -4]
[1, 4, -4]
[4, -4, 1]

In [70]:
# Write commands to find the index of the min or max values in an iterable i.e.list etc

a = [2, 3, 1]
print(min(enumerate(a),key=lambda x: x[1])[0])
print(max(enumerate(a),key=lambda x: x[1])[0])

2
1

In [71]:
# Write a function to convert a string into the dictionary containing one key for each character and value corresponding to frequency of the key

def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [72]:
# Write a Python function that takes a list of words and returns the length of the longest one.

def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    return word_len[-1][0], word_len[-1][1]
result = find_longest_word(["PHP", "Exercises", "Backend"])
print(result)

(9, 'Exercises')

In [73]:
# Write a command (one line) that prints the length of the longest string from a list of strings.

v_str = ["PHP", "Exercises", "Backend"]

print(max({s:len(s) for s in v_str}.values()))

9

In [74]:
# Write a Python program to display a number in left, right and center aligned of width 10

x = 22
print("\nOriginal Number: ", x)
print("Left aligned (width 10)   :"+"{:< 10d}".format(x));
print("Right aligned (width 10)  :"+"{:10d}".format(x));
print("Center aligned (width 10) :"+"{:^10d}".format(x));
print()

Original Number:  22
Left aligned (width 10)   : 22
Right aligned (width 10)  :        22
Center aligned (width 10) :    22

In [75]:
# Write a Python program to find maximum length of consecutive 0’s in a given binary string.

def max_consecutive_0(v_str): 
     return  max(map(len,v_str.split('1')))

str1 = '1110000010000110'
print(max_consecutive_0(str1))

5

In [76]:
# Write commands to remove all of the occurances of a given character from a String using replace, list comprehension and map

v_str = "I want to delete all the occurances of a from this string"

print(v_str.replace('a', ''))
print(''.join([s for s in v_str if s != 'a' ])) 
print(''.join(list(map(lambda x: x if x!= 'a' else '', v_str))))

I wnt to delete ll the occurnces of  from this string
I wnt to delete ll the occurnces of  from this string
I wnt to delete ll the occurnces of  from this string

In [77]:
# Write a program to count all alphabets(lower and upper), digits, and special symbols from a given string
# return all three counts showing python functions can return multiple values

def find_different_counts(v_str): 
  charCount = 0
  digitCount = 0
  symbolCount = 0
  for char in v_str:
    if char.islower() or char.isupper():
      charCount+=1
    elif char.isnumeric():
      digitCount+=1
    else:
      symbolCount+=1
  
  return charCount, digitCount, symbolCount

print(find_different_counts("P@#yn26at^&i5ve"))

(8, 3, 4)

In [78]:
# Write a function to convert a number from integer to roman number (limited unto 4000 number)
def int_to_roman(num):
  val = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
  syb = ["M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"]
  roman_num = ''
  i = 0
  while  num > 0:
    for _ in range(num // val[i]):
      roman_num += syb[i]
      num -= val[i]
    i += 1
  return roman_num


print(int_to_roman(3783))

MMMDCCLXXXIII

In [79]:
# Write a function to check if a list of integers is monotonic. i.e the list is in either increasing order or in decreasing order 

def check_monotonic(A): 
  
    return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1))) 

v_list = [23, 15, 6, 4, 4, 3]

print(check_monotonic(v_list))

True

In [80]:
# Write a function to check if a given string is Pangram or not. Write the program using a for loop 
# A pangram is a sentence containing every letter in the English Alphabet.

def check_pangram(v_str): 
  alphabet = "abcdefghijklmnopqrstuvwxyz"
  for char in alphabet:
    if char not in v_str.lower():
      return False
  return True

v_string = 'the quick brown fox jumps over the lazy dog'
print(check_pangram(v_string))

True

In [81]:
# Write a function to check if a given string is Pangram or not. Write the program using a lambda function in a single line

alphabet = "abcdefghijklmnopqrstuvwxyz"

v_string = 'the quick brown fox jumps over the lazy dog' 

print(all(list(map(lambda a: True if a in v_string else False, alphabet))))

v_string = 'the quick brown fox jumps over the lazy'

print(all(list(map(lambda a: True if a in v_string else False, alphabet))))

True
False