In [1]:
from functools import reduce
import random
import numpy as np
import math
import string

#Question 1:#

In [2]:
# Code to generate the list of Fibonacci Numbers
fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]], range(n-2), [0, 1]) 
fib_list = fib(25)
print(fib_list)

#Returns True if the number exists in Fibonacci Series. Else, returns False
result = lambda a: a in list(filter((lambda x: a == x), fib_list))

print(result(200))
print(result(610))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368]
False
True

#Question 2.1:#

In [3]:
list1 = [random.randint(0,100) for x in range (10) ]
print(list1)
list2 = [random.randint(0,100) for x in range (10) ]
print(list2)


print([[i for i in list1 if (i%2 == 0)], [[j for j in list2 if (j%2 != 0)]]])

result = [a+b for a, b in zip([i for i in list1 if (i%2 == 0)], [j for j in list2 if (j%2 != 0)])]
print("Results are below : \n", result)

[59, 45, 52, 92, 81, 61, 44, 61, 27, 7]
[9, 56, 46, 99, 67, 86, 59, 88, 34, 32]
[[52, 92, 44], [[9, 99, 67, 59]]]
Results are below :
 [61, 191, 111]

#Question 2.2:#

In [4]:
vowels = ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U')

text = "TestingAgaIn"

result = ''.join([s for s in text if s not in vowels])

print("Results are below : \n", result)

Results are below :
 Tstnggn

#Question 2.3#

In [5]:
a = np.random.randint(-100,100,10) 
print(a)

result = [i if i >= 0 else 0 for i in a ]
print("Results are below : \n", result)

[-94 -71 -30  23   4  95  18  -6 -84  26]
Results are below :
 [0, 0, 0, 23, 4, 95, 18, 0, 0, 26]

#Question 2.4#

In [6]:
a = np.random.randint(-10,10,10) 
print(a)

sigmoid = lambda x: (1 / (1 + math.exp(-x)))

result = [sigmoid(i) for i in a ]

print("Results are below : \n", result)

[ 5  6  2  6  6 -4  7  2 -5 -4]
Results are below :
 [0.9933071490757153, 0.9975273768433653, 0.8807970779778823, 0.9975273768433653, 0.9975273768433653, 0.01798620996209156, 0.9990889488055994, 0.8807970779778823, 0.0066928509242848554, 0.01798620996209156]

#Question 2.5#

In [7]:
#Using list of characters
text = "testuvwxyzUVWXYZinteresting"
temp = ['v','w', 'x','y','z','V','W','X','Y','Z']
result = ''.join([chr(ord(s) + 5) if(s not in  temp) else chr(ord(s) - 21)  for s in text ])
print(text, " ---", result)

#For small characters only
text = "testuvwxyzinteresting"
result = ''.join([chr(ord(s) + 5) if(ord(s)< 118) else chr(ord(s) - 21)  for s in text ])
print("Original Test : ", text, " --- Modified Text : ", result)

testuvwxyzUVWXYZinteresting  --- yjxyzabcdeZABCDEnsyjwjxynsl
Original Test :  testuvwxyzinteresting  --- Modified Text :  yjxyzabcdensyjwjxynsl

#Question 3#

In [8]:
#Uploaded file manually
file = open("lists.txt", 'r')
content = file.read()
content_list = [i.lower() for i in content.split("\n")]
print(len(content_list))

text = "This document, Xxx shit a WMO publication on “The Role of Satellites in WMO programmes in the 2010s” is \
intended to update the last comparable publication entitled: “The Role of Satellites in WMO programmes \
in the 1980s” by D.S. Johnson and I.P. Vetlov published in 1977. This update was prepared by three \
primary authors: Dr G. Asrar, Dr T. Mohr and Mr G. Withee, with assistance from additional experts as \
identified and recruited by the primary authors. WMO Members involved in the Consultative Meetings on \
High-Level Policy on Satellite Matters felt strongly asshole that the new publication would be of great importance \
to WMO Members, not only to the NMHSs but also the larger communities among the Members. For example, \
such users would include policy decision-makers or those involved with the IPCC assessment process. \
It is envisioned that there will be widespread use of the new publication by many user communities as \
nations progress into the new century and prepare for a new set of societal and environmental challenges \
across the globe."

text = text.lower()

result = [i for i in content_list if i in [j for j in text.split(" ")]]

print("List of words which are present in the text and also in the given list is below: \n", result)

451
List of words which are present in the text and also in the given list is below:
 ['asshole', 'shit', 'xxx']

#Question 4.1#

In [9]:
list1 = [random.randint(0,100) for x in range (10) ]
print(list1)


result = reduce(lambda a,b : a + b, [i for i in list1 if (i%2 == 0)])

print("Sum for the list is :", result)

[28, 19, 29, 55, 90, 21, 80, 32, 72, 65]
Sum for the list is : 302

#Question 4.2#

In [10]:
text = "testzinteresting "
result = reduce(lambda a, b : max(a, b), text)
print("Largest Character is -- ", result)

Largest Character is --  z

#Question 4.3#

In [11]:
list1 = [random.randint(0,100) for x in range (10) ]
print(list1)

result = reduce(lambda a,b : a + b, [j for i, j in enumerate(list1) if (i+1)%3 == 0 ])

print("Sum for the every 3rd number in the list is :", result)

[21, 3, 18, 71, 18, 42, 8, 20, 85, 99]
Sum for the every 3rd number in the list is : 145

#Question 5#

In [12]:
result = [''.join(['KA',\
                  str(random.randint(10,99)), \
                  ''.join([random.choice(string.ascii_letters).upper() for i in range(2)]),\
                  str(random.randint(1000,9999)), \
                  ]) for i in range(15)]

print("The List for the number plates is below: \n", result)

The List for the number plates is below:
 ['KA90RP6605', 'KA67DP4850', 'KA84AL4599', 'KA96MD3888', 'KA64QB2890', 'KA23YW1070', 'KA88NK9739', 'KA39ZB3995', 'KA57TR9876', 'KA66WF1929', 'KA60EO6402', 'KA57AI1085', 'KA23WQ8653', 'KA97YG2364', 'KA32MZ9563']

#Question 6#

In [13]:
def number_plate(v_code, v_start, v_end): 
  result = [''.join([v_code,\
                    str(random.randint(10,99)), \
                    ''.join([random.choice(string.ascii_letters).upper() for i in range(2)]),\
                    str(random.randint(v_start,v_end)), \
                    ]) for i in range(15)]
  return result

result = number_plate("DL", 1000, 9999)

print("The List for the number plates is below: \n", result)

The List for the number plates is below:
 ['DL97SW7343', 'DL50MF8193', 'DL51EG8206', 'DL64IS6674', 'DL78OE6594', 'DL38GF6684', 'DL32VO7370', 'DL77VQ5624', 'DL89DE9642', 'DL83AD8744', 'DL45KY7371', 'DL10BL1656', 'DL46BR4823', 'DL61UW4543', 'DL21FY9622']